RewriteEngine On

RewriteRule ^start$ / [R=302,L]
RewriteRule ^impressum$ https://silviato.github.io/impressum-und-datenschutz#impressum [R=301,L]
RewriteRule ^datenschutz$ https://silviato.github.io/impressum-und-datenschutz#datenschutz [R=301,L]
